@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
.squiggle-text {
  &__text {
    animation: squiggly-anim 3s linear infinite;
    font-family: 'Amatic SC', sans-serif;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    outline: none;
    text-align: center;
    line-height: 1;

    @keyframes squiggly-anim {
      0% {
        filter: url('#squiggly-0');
      }
      25% {
        filter: url('#squiggly-1');
      }
      50% {
        filter: url('#squiggly-2');
      }
      75% {
        filter: url('#squiggly-3');
      }
      100% {
        filter: url('#squiggly-4');
      }
    }
  }

  &__svg {
    @include hidden;
  }
}
