<template>
  <div class="app-checkbox">
    <label class="app-checkbox__label">
      <input
        :ref="checkboxInputRef.name"
        type="checkbox"
        :checked="value"
        :disabled="disabled"
        @change="onCheckboxValueChange"
      />
      <span class="app-checkbox__wrapper">
        <span class="app-checkbox__place-box">
          <span class="app-checkbox__place-icon" />
        </span>
        <span class="app-checkbox__slot"><slot /></span>
      </span>
    </label>
  </div>
</template>

<script>
  import { ElementUtils } from '~/utils/ElementUtils';

  export default {
    name: 'AppCheckbox',
    model: { prop: 'value', event: 'change' },
    props: {
      value: {
        type: Boolean,
        default: () => true,
      },
      disabled: {
        type: Boolean,
        default: () => false,
      },
    },
    computed: {
      checkboxInputRef: ElementUtils.buildRefGetter('checkboxInputRef'),
    },
    methods: {
      emitValueChange(value, event) {
        this.$emit('change', value, event);
      },
      onCheckboxValueChange(event) {
        if (this.disabled) return;

        this.emitValueChange(!this.value, event);
        this.$nextTick(this.syncValue);
      },
      syncValue() {
        if (!this.checkboxInputRef.element) return;
        this.checkboxInputRef.element.checked = this.value;
      },
    },
  };
</script>

<style scoped lang="scss" src="./AppCheckbox.scss" />
