.app-checkbox {
  font-family: $font-Regular;
  display: inline-flex;
  align-items: center;

  @include font(14, 20);

  &__label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }

  &__place-box {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 12px;
    color: $material-white;
    background: $material-white;
    border: 2px solid $material-grey-200;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;

    &::before {
      @include virtual-focus;

      width: 24px;
      height: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: inherit;
      opacity: 0;
      content: '';
      transform: translate(-50%, -50%);
    }
  }

  &__place-icon {
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s, transform 0.2s;

    &::after,
    &::before {
      position: absolute;
      display: block;
      background: $material-white;
      border-radius: 65px;
      content: '';
    }

    &::before {
      right: 1px;
      bottom: 7px;
      width: 10px;
      height: 2px;
      transform: rotate(-40deg);
    }

    &::after {
      bottom: 5.5px;
      left: 2px;
      width: 6px;
      height: 2px;
      transform: rotate(40deg);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__slot {
    display: flex;
    align-items: center;
    width: 100%;
  }

  input[type='checkbox'] {
    @include hidden;
  }

  input[type='checkbox'].focus-visible ~ .app-checkbox__wrapper {
    .app-checkbox__place-box {
      &::before {
        opacity: 1;
      }
    }
  }

  input[type='checkbox']:checked ~ .app-checkbox__wrapper:active {
    .app-checkbox__place-box {
      background: $material-cyan-800;
      border-color: $material-cyan-800;
    }

    .app-checkbox__place-icon {
      display: block;
    }

    @include hover {
      .app-checkbox__place-box {
        background: $material-cyan-800;
        border-color: $material-cyan-800;
      }
    }
  }

  input[type='checkbox']:not(:checked) ~ .app-checkbox__wrapper:active {
    .app-checkbox__place-box {
      color: $material-grey-800;
      background: $material-grey-100;
    }
  }

  // hover при checked
  input[type='checkbox']:checked ~ .app-checkbox__wrapper {
    @include hover {
      .app-checkbox__place-box {
        background: $material-cyan-600;
        border-color: $material-cyan-600;
      }

      .app-checkbox__place-icon {
        display: block;
      }
    }

    .app-checkbox__place-box {
      background: $material-cyan-400;
      border-color: $material-cyan-400;
    }

    .app-checkbox__place-icon {
      opacity: 1;
      transform: scale(1);
    }
  }

  // hover при not-checked
  input[type='checkbox']:not(:checked) ~ .app-checkbox__wrapper:not(:active) {
    @include hover {
      .checkbox__place {
        background: $material-grey-100;
        border-color: $material-grey-800;
      }
    }
  }

  // checked disabled
  input[type='checkbox']:checked:disabled ~ .app-checkbox__wrapper {
    pointer-events: none;

    & .app-checkbox__slot {
      color: $material-grey-500;
    }

    & .app-checkbox__place-box {
      background: $material-grey-100;
      border-color: $material-grey-100;
    }

    & .app-checkbox__place-icon {
      border-color: $material-grey-800;
    }
  }

  // not-checked disabled
  input[type='checkbox']:not(:checked):disabled ~ .app-checkbox__wrapper {
    pointer-events: none;
    color: $material-grey-800;

    .app-checkbox__slot {
      color: $material-grey-500;
    }
  }
}
