// ---------------------------------------------------------------------------------------------------------------------
// Google's Material Design Colors
// https://www.google.com/design/spec/style/color.html#color-color-palette
// ---------------------------------------------------------------------------------------------------------------------
$material-red: #f44336;
$material-pink: #e91e63;
$material-purple: #9c27b0;
$material-deep-purple: #673ab7;
$material-indigo: #3f51b5;
$material-blue: #2196f3;
$material-light-blue: #03a9f4;
$material-cyan: #00bcd4;
$material-teal: #009688;
$material-green: #4caf50;
$material-light-green: #8bc34a;
$material-lime: #cddc39;
$material-yellow: #ffeb3b;
$material-amber: #ffc107;
$material-orange: #ff9800;
$material-deep-orange: #ff5722;
$material-brown: #795548;
$material-grey: #9e9e9e;
$material-blue-grey: #607d8b;
$material-black: #000;
$material-white: #fff;

// ---------------------------------------------------------------------------------------------------------------------
// Google's Material Design Palettes
// https://www.google.com/design/spec/style/color.html#color-color-palette
// ---------------------------------------------------------------------------------------------------------------------
$material-red-50: #ffebee;
$material-red-100: #ffcdd2;
$material-red-200: #ef9a9a;
$material-red-300: #e57373;
$material-red-400: #ef5350;
$material-red-500: #f44336;
$material-red-600: #e53935;
$material-red-700: #d32f2f;
$material-red-800: #c62828;
$material-red-900: #b71c1c;

$material-pink-50: #fce4ec;
$material-pink-100: #f8bbd0;
$material-pink-200: #f48fb1;
$material-pink-300: #f06292;
$material-pink-400: #ec407a;
$material-pink-500: #e91e63;
$material-pink-600: #d81b60;
$material-pink-700: #c2185b;
$material-pink-800: #ad1457;
$material-pink-900: #880e4f;

$material-purple-50: #f3e5f5;
$material-purple-100: #e1bee7;
$material-purple-200: #ce93d8;
$material-purple-300: #ba68c8;
$material-purple-400: #ab47bc;
$material-purple-500: #9c27b0;
$material-purple-600: #8e24aa;
$material-purple-700: #7b1fa2;
$material-purple-800: #6a1b9a;
$material-purple-900: #4a148c;

$material-deep-purple-50: #ede7f6;
$material-deep-purple-100: #d1c4e9;
$material-deep-purple-200: #b39ddb;
$material-deep-purple-300: #9575cd;
$material-deep-purple-400: #7e57c2;
$material-deep-purple-500: #673ab7;
$material-deep-purple-600: #5e35b1;
$material-deep-purple-700: #512da8;
$material-deep-purple-800: #4527a0;
$material-deep-purple-900: #311b92;

$material-indigo-50: #e8eaf6;
$material-indigo-100: #c5cae9;
$material-indigo-200: #9fa8da;
$material-indigo-300: #7986cb;
$material-indigo-400: #5c6bc0;
$material-indigo-500: #3f51b5;
$material-indigo-600: #3949ab;
$material-indigo-700: #303f9f;
$material-indigo-800: #283593;
$material-indigo-900: #1a237e;

$material-blue-50: #e3f2fd;
$material-blue-100: #bbdefb;
$material-blue-200: #90caf9;
$material-blue-300: #64b5f6;
$material-blue-400: #42a5f5;
$material-blue-500: #2196f3;
$material-blue-600: #1e88e5;
$material-blue-700: #1976d2;
$material-blue-800: #1565c0;
$material-blue-900: #0d47a1;

$material-light-blue-50: #e1f5fe;
$material-light-blue-100: #b3e5fc;
$material-light-blue-200: #81d4fa;
$material-light-blue-300: #4fc3f7;
$material-light-blue-400: #29b6f6;
$material-light-blue-500: #03a9f4;
$material-light-blue-600: #039be5;
$material-light-blue-700: #0288d1;
$material-light-blue-800: #0277bd;
$material-light-blue-900: #01579b;

$material-cyan-50: #e0f7fa;
$material-cyan-100: #b2ebf2;
$material-cyan-200: #80deea;
$material-cyan-300: #4dd0e1;
$material-cyan-400: #26c6da;
$material-cyan-500: #00bcd4;
$material-cyan-600: #00acc1;
$material-cyan-700: #0097a7;
$material-cyan-800: #00838f;
$material-cyan-900: #006064;

$material-teal-50: #e0f2f1;
$material-teal-100: #b2dfdb;
$material-teal-200: #80cbc4;
$material-teal-300: #4db6ac;
$material-teal-400: #26a69a;
$material-teal-500: #009688;
$material-teal-600: #00897b;
$material-teal-700: #00796b;
$material-teal-800: #00695c;
$material-teal-900: #004d40;

$material-green-50: #e8f5e9;
$material-green-100: #c8e6c9;
$material-green-200: #a5d6a7;
$material-green-300: #81c784;
$material-green-400: #66bb6a;
$material-green-500: #4caf50;
$material-green-600: #43a047;
$material-green-700: #388e3c;
$material-green-800: #2e7d32;
$material-green-900: #1b5e20;

$material-light-green-50: #f1f8e9;
$material-light-green-100: #dcedc8;
$material-light-green-200: #c5e1a5;
$material-light-green-300: #aed581;
$material-light-green-400: #9ccc65;
$material-light-green-500: #8bc34a;
$material-light-green-600: #7cb342;
$material-light-green-700: #689f38;
$material-light-green-800: #558b2f;
$material-light-green-900: #33691e;

$material-lime-50: #f9fbe7;
$material-lime-100: #f0f4c3;
$material-lime-200: #e6ee9c;
$material-lime-300: #dce775;
$material-lime-400: #d4e157;
$material-lime-500: #cddc39;
$material-lime-600: #c0ca33;
$material-lime-700: #afb42b;
$material-lime-800: #9e9d24;
$material-lime-900: #827717;

$material-yellow-50: #fffde7;
$material-yellow-100: #fff9c4;
$material-yellow-200: #fff59d;
$material-yellow-300: #fff176;
$material-yellow-400: #ffee58;
$material-yellow-500: #ffeb3b;
$material-yellow-600: #fdd835;
$material-yellow-700: #fbc02d;
$material-yellow-800: #f9a825;
$material-yellow-900: #f57f17;

$material-amber-50: #fff8e1;
$material-amber-100: #ffecb3;
$material-amber-200: #ffe082;
$material-amber-300: #ffd54f;
$material-amber-400: #ffca28;
$material-amber-500: #ffc107;
$material-amber-600: #ffb300;
$material-amber-700: #ffa000;
$material-amber-800: #ff8f00;
$material-amber-900: #ff6f00;

$material-orange-50: #fff3e0;
$material-orange-100: #ffe0b2;
$material-orange-200: #ffcc80;
$material-orange-300: #ffb74d;
$material-orange-400: #ffa726;
$material-orange-500: #ff9800;
$material-orange-600: #fb8c00;
$material-orange-700: #f57c00;
$material-orange-800: #ef6c00;
$material-orange-900: #e65100;

$material-deep-orange-50: #fbe9e7;
$material-deep-orange-100: #ffccbc;
$material-deep-orange-200: #ffab91;
$material-deep-orange-300: #ff8a65;
$material-deep-orange-400: #ff7043;
$material-deep-orange-500: #ff5722;
$material-deep-orange-600: #f4511e;
$material-deep-orange-700: #e64a19;
$material-deep-orange-800: #d84315;
$material-deep-orange-900: #bf360c;

$material-brown-50: #efebe9;
$material-brown-100: #d7ccc8;
$material-brown-200: #bcaaa4;
$material-brown-300: #a1887f;
$material-brown-400: #8d6e63;
$material-brown-500: #795548;
$material-brown-600: #6d4c41;
$material-brown-700: #5d4037;
$material-brown-800: #4e342e;
$material-brown-900: #3e2723;

$material-grey-50: #fafafa;
$material-grey-100: #f5f5f5;
$material-grey-200: #eee;
$material-grey-300: #e0e0e0;
$material-grey-400: #bdbdbd;
$material-grey-500: #9e9e9e;
$material-grey-600: #757575;
$material-grey-700: #616161;
$material-grey-800: #424242;
$material-grey-900: #212121;

$material-blue-grey-50: #eceff1;
$material-blue-grey-100: #cfd8dc;
$material-blue-grey-200: #b0bec5;
$material-blue-grey-300: #90a4ae;
$material-blue-grey-400: #78909c;
$material-blue-grey-500: #607d8b;
$material-blue-grey-600: #546e7a;
$material-blue-grey-700: #455a64;
$material-blue-grey-800: #37474f;
$material-blue-grey-900: #263238;

// ---------------------------------------------------------------------------------------------------------------------
// Google's Material Design Accents
// https://www.google.com/design/spec/style/color.html#color-color-palette
// ---------------------------------------------------------------------------------------------------------------------
$material-red-a100: #ff8a80;
$material-red-a200: #ff5252;
$material-red-a400: #ff1744;
$material-red-a700: #d50000;

$material-pink-a100: #ff80ab;
$material-pink-a200: #ff4081;
$material-pink-a400: #f50057;
$material-pink-a700: #c51162;

$material-purple-a100: #ea80fc;
$material-purple-a200: #e040fb;
$material-purple-a400: #d500f9;
$material-purple-a700: #a0f;

$material-deep-purple-a100: #b388ff;
$material-deep-purple-a200: #7c4dff;
$material-deep-purple-a400: #651fff;
$material-deep-purple-a700: #6200ea;

$material-indigo-a100: #8c9eff;
$material-indigo-a200: #536dfe;
$material-indigo-a400: #3d5afe;
$material-indigo-a700: #304ffe;

$material-blue-a100: #82b1ff;
$material-blue-a200: #448aff;
$material-blue-a400: #2979ff;
$material-blue-a700: #2962ff;

$material-light-blue-a100: #80d8ff;
$material-light-blue-a200: #40c4ff;
$material-light-blue-a400: #00b0ff;
$material-light-blue-a700: #0091ea;

$material-cyan-a100: #84ffff;
$material-cyan-a200: #18ffff;
$material-cyan-a400: #00e5ff;
$material-cyan-a700: #00b8d4;

$material-teal-a100: #a7ffeb;
$material-teal-a200: #64ffda;
$material-teal-a400: #1de9b6;
$material-teal-a700: #00bfa5;

$material-green-a100: #b9f6ca;
$material-green-a200: #69f0ae;
$material-green-a400: #00e676;
$material-green-a700: #00c853;

$material-light-green-a100: #ccff90;
$material-light-green-a200: #b2ff59;
$material-light-green-a400: #76ff03;
$material-light-green-a700: #64dd17;

$material-lime-a100: #f4ff81;
$material-lime-a200: #eeff41;
$material-lime-a400: #c6ff00;
$material-lime-a700: #aeea00;

$material-yellow-a100: #ffff8d;
$material-yellow-a200: #ff0;
$material-yellow-a400: #ffea00;
$material-yellow-a700: #ffd600;

$material-amber-a100: #ffe57f;
$material-amber-a200: #ffd740;
$material-amber-a400: #ffc400;
$material-amber-a700: #ffab00;

$material-orange-a100: #ffd180;
$material-orange-a200: #ffab40;
$material-orange-a400: #ff9100;
$material-orange-a700: #ff6d00;

$material-deep-orange-a100: #ff9e80;
$material-deep-orange-a200: #ff6e40;
$material-deep-orange-a400: #ff3d00;
$material-deep-orange-a700: #dd2c00;

// ---------------------------------------------------------------------------------------------------------------------
// Google's Material Design Text Colors
// https://www.google.com/design/spec/style/color.html#color-ui-color-application
// ---------------------------------------------------------------------------------------------------------------------
$material-text-light-primary: rgba(#000, 0.87);
$material-text-light-secondary: rgba(#000, 0.54);
$material-text-light-disabled: rgba(#000, 0.38);
$material-text-light-divider: rgba(#000, 0.12);

$material-text-dark-primary: rgba(#fff, 1);
$material-text-dark-secondary: rgba(#fff, 0.7);
$material-text-dark-disabled: rgba(#fff, 0.3);
$material-text-dark-divider: rgba(#fff, 0.12);

// ---------------------------------------------------------------------------------------------------------------------
// Google's Material Design Themes
// https://www.google.com/design/spec/style/color.html#color-themes
// ---------------------------------------------------------------------------------------------------------------------
$material-theme-light-status: #0e0e0e;
$material-theme-light-app: #f5f5f5;
$material-theme-light-background: #fafafa;
$material-theme-light-card: #fff;

$material-theme-dark-status: #000;
$material-theme-dark-app: #212121;
$material-theme-dark-background: #303030;
$material-theme-dark-card: #424242;
