$root-size: 16;

@mixin font($font-size, $line-height) {
  font-size: ($font-size/$root-size) + rem;
  line-height: ($line-height/$root-size) + rem;
}

@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

@mixin hover {
  @media (hover) {
    &:hover {
      @content;
    }
  }
}

@mixin virtual-focus {
  // детектит ie и ставит ему рамку
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    border: 1px dotted black;
  }

  @supports not (-ms-high-contrast: none) {
    outline: 2px solid Highlight;

    @media (-webkit-min-device-pixel-ratio: 0) {
      outline: 2px auto -webkit-focus-ring-color;
    }
  }
}

@mixin disable-tap-highlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
