@import "variables-color";
@import "variables-fonts";
@import "variables-media-query";
@import "variables-mixins";

$border-radius: 4px;
$root-size: 16;

$negIndent: calc((100vw - 100%) / -2);
$posIndent: calc((100vw - 100%) / 2);