$sm-screen-up: 320px;
$sm-screen-custom: 480px;
$md-screen-up: 768px !default;

$lg-screen-up: 960px !default;
$xl-screen-up: 1280px !default;

$sm-screen: 319px !default;
$md-screen: 767px !default;

$lg-screen: 959px !default;
$xl-screen: 1279px !default;

$sm-and-up: 'only screen and (min-width : #{$sm-screen-up})' !default; /* для 320 и больше */
$md-and-up: 'only screen and (min-width : #{$md-screen-up})' !default; /* для 768 и больше */

$lg-and-up: 'only screen and (min-width : #{$lg-screen-up})' !default; /* для 960 и больше */
$xl-and-up: 'only screen and (min-width : #{$xl-screen-up})' !default; /* для 1280 и больше */

$sm-and-down: 'only screen and (max-width : #{$sm-screen})' !default; /* для 320 и меньше */
$md-and-down: 'only screen and (max-width : #{$md-screen})' !default; /* для 768 и меньше */

$lg-and-down: 'only screen and (max-width : #{$lg-screen})' !default; /* для 960 и меньше */
$xl-and-down: 'only screen and (max-width : #{$xl-screen})' !default; /* для 1280 и меньше */

$touch-devices-only: 'only screen and (min-width : #{$sm-screen-up}) and (max-width : #{$xl-screen})' !default; /* для между 320 и 1279 */
$small-only: 'only screen and (min-width : #{$sm-screen-up}) and (max-width : #{$md-screen})' !default; /* для между 320 и 767 */
$medium-only: 'only screen and (min-width : #{$md-screen-up}) and (max-width : #{$lg-screen})' !default; /* для между 768 и 1023 */
$medium-and-large-only: 'only screen and (min-width : #{$md-screen-up}) and (max-width : #{$xl-screen})' !default; /* для между 768 и 1279 */

$large-only: 'only screen and (min-width : #{$lg-screen-up}) and (max-width : #{$xl-screen})' !default; /* для между 960 и 1279 */

$sm-screen-custom-up: 'only screen and (min-width : #{$sm-screen-custom})' !default; /* для 480 и больше */
