<template>
  <div class="sync-page">
    <div class="sync-page__flicker-box" :class="flickerClasses" />
  </div>
</template>

<script>
  export default {
    name: 'SyncPage',
    data: () => ({
      possibleClasses: [
        'sync-page__flicker-box--white',
        'sync-page__flicker-box--black',
        'sync-page__flicker-box--red',
        'sync-page__flicker-box--yellow',
        'sync-page__flicker-box--green',
      ],
      intervalId: null,
      currentIndex: 0,
    }),
    computed: {
      flickerClasses() {
        return {
          [this.possibleClasses[this.currentIndex]]: true,
        };
      },
    },
    mounted() {
      this.intervalId = setInterval(() => {
        if (this.currentIndex >= this.possibleClasses.length) {
          clearInterval(this.intervalId);
          return;
        }
        this.currentIndex++;
      }, 500);
    },
    beforeDestroy() {
      clearInterval(this.intervalId);
    },
  };
</script>

<style scoped lang="scss">
  .sync-page {
    &__flicker-box {
      width: 100vw;
      height: 100vh;

      &--white {
        background-color: $material-white;
      }
      &--black {
        background-color: $material-black;
      }
      &--red {
        background-color: $material-red;
      }
      &--yellow {
        background-color: $material-yellow;
      }
      &--green {
        background-color: $material-green;
      }
    }
  }
</style>
