$-font-path-custom: "~static/fonts";

@font-face {
  font-style: normal;
  font-family: "SansPro-Regular";
  font-weight: normal;
  font-display: fallback;
  src: url("#{$-font-path-custom}/SansProRegular/SansPro-Regular.woff2")
    format("woff2");
}

@font-face {
  font-style: normal;
  font-family: "SansPro-Medium";
  font-weight: normal;
  font-display: fallback;
  src: url("#{$-font-path-custom}/SansProMedium/SansPro-Medium.woff2")
    format("woff2");
}

@font-face {
  font-style: normal;
  font-family: "SansPro-Bold";
  font-weight: normal;
  font-display: fallback;
  src: url("#{$-font-path-custom}/SansProBold/SansPro-Bold.woff2")
    format("woff2");
}
