.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media #{$lg-and-up} {
    width: 100%;
    padding: 0 40px;
  }

  @media #{$xl-and-up} {
    padding: 0 32px;
  }
}

.main {
  height: 100%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.12s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
