@import 'normalize';
@import 'fonts';
@import 'layout';

html,
body {
  font-size: 16px;

  * {
    box-sizing: border-box;

    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
}

body {
  position: relative;
  font-family: $font-Regular;
  color: $material-black;
  background: $material-white;

  &.page-scroll-disabled {
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
  }
}

h1,
.content-h1 {
  font-family: $font-Bold;

  @include font(32, 36);
}

h2,
.content-h2 {
  font-family: $font-Bold;


  @include font(24, 28);
}

h3,
.content-h3 {
  font-family: $font-Bold;

  @include font(16, 24);

  @media #{$md-and-up} {
    @include font(20, 28);
  }
}

h4,
.content-h4 {
  font-family: $font-Regular;

  @include font(16, 24);
}
