<template>
  <div class="container index-page">
    <div class="index-page__page-title">
      <SquiggleText>Custom checkbox</SquiggleText>
    </div>
    <AppCheckbox
      :value="checkboxValue"
      :disabled="checkboxIsDisabled"
      class="index-page__custom-checkbox"
      @change="onCheckboxValueChange"
    >
      custom
    </AppCheckbox>
    <div class="index-page__native-checkbox">
      <label>
        <input type="checkbox" />
        native
      </label>
    </div>
  </div>
</template>

<script>
  import AppCheckbox from '@/components/ui/AppCheckbox/AppCheckbox';
  import SquiggleText from '~/components/common/SquiggleText/SquiggleText';
  export default {
    components: { SquiggleText, AppCheckbox },
    data: () => ({
      checkboxValue: true,
      checkboxIsDisabled: false,
    }),
    methods: {
      onCheckboxValueChange(value) {
        this.checkboxValue = value;
      },
    },
  };
</script>

<style lang="scss">
  .index-page {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__page-title {
      flex-basis: 100%;
      font-size: 100px;
    }

    &__custom-checkbox {
      margin-right: 24px;
    }
  }
</style>
